@import '../styles/variables';

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: $white;
    border-bottom: 1px solid $black;
    box-shadow: 0px 3px 2px 0px $shadowColor;
    a{
        text-decoration: none;
        color: $black;
    }
    nav{
        ul{
            list-style: none;
        }
    }
}